/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

*{
    font-family:'Times New Roman', Times, serif
}

p,a{
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    width: 960px;
    min-height: 500px;
    margin: 10px;
    border: 1px solid black;
}

#header{
    display: flex;
    padding: 10px 10px 10px 20px;
    height: 40px; 
    min-width: auto;
    background-color: whitesmoke;
    justify-content: space-between;
}

#header>h3{
    margin-top: 8px;
}

#main-content{
    background-image: radial-gradient(circle,#6f5964,#2e1c22);
    min-height: 850px;
    padding: 20px;
}

#top-content{
    display: flex;
    justify-content: space-around;
}

#top-img{
    height: 250px;
    width: 400px;
    border: 7px solid #c0c0c0;
}

#top-container{
    height: 265px;
    width: 480px;
    background-image: linear-gradient(to right, #ffffff,#daccd9);
    font-size: 15px;
}

.heading-text{
    padding: 5px;
    background-image:  linear-gradient(#adacb1,#878693,#adacb1); 
    color: #ffffff;
}

#top-container>p{
    padding: 8px;
    margin-bottom: 5px;
}

#top-container>a{
    color: black;
    padding-left: 8px;
}


#bottom-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bottom-col{
    width: 290px;
    min-height: 550px;
    background-image: linear-gradient(to right, #ffffff,#daccd9);
}

.bottom-img{
    width: 290px;
    height: 150px;
    margin-bottom: 5px;
}

.bottom-col>p{
    padding: 0 8px 0px 8px;
    height: 150px;
}

.bottom-small-img{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bottom-small-img>img{
    margin: 10px 0 0 10px;
    width: 45px;
    height: 45px;
}

.main-button{
    background-color: #407d61;
    color: white;
    display: block;
    border-radius: 10px;
    height: 30px;
    min-width: 70px;
    box-shadow: 3px 3px #909090;
    margin: 15px 0 0 100px;
    padding: 0 8px;
    font-weight: bold;
}

.main-button:hover{
    background-color: white;
    color: black;
}

#footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

#footer-top{
    margin-bottom: 10px;
}

.footer-pic{
    height: 15px;
}

/* #footer-top{
    margin: 5px 0 5px 300px;
}

#footer-bottom{
    margin: 5px 0 5px 250px;
} */

.footer-link{
    color: black;
    font-style: italic;
}